In [1]:
import pandas as pd
import numpy as np
#import sframe
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import json
from __future__ import division

In [2]:
dtype_dict = {'id':int, 'member_Id':int, 'loan_amnt':float, 'funded_amnt':float, 'funded_amnt_inv':float, 
              'term':str, 'float_rate':float, 'installment':float, 'grade':str, 'sub_grade':str, 'emp_title':str,
              'emp_length':str, 'home_ownership':str, 'annual_inc':float, 'is_inc_v':str, 'issue_d':str, 'loan_status':str, 
              'pymnt_plan':str, 'url':str, 'desc':str, 'purpose':str,'title':str,'zipcode':str,'addr_state':str,'dti':float,'deling_2yrs':float,'earliest_cr_line':str,
             'inq_last_6mths':float,'mths_since_last_delinq':float,'mths_since_last_record':float,'open_acc':float,'pub_rec':float,
             'revol_bal':float,'revol_util':float,'total_acc':float,'initial_list_status':str,'out_prncp':float,'out_prncp_inv':float,
             'total_pymnt':float,'total_pymnt_inv':float,'total_rec_prncp':float,'total_rec_float':float,'total_rec_late_fee':float,
              'recoveries':float,'collection_recovery_fee':float,'last_pymnt_d':str,'last_pymnt_amnt':float,'next_pymnt_d':str,
              'last_credit_pull_d':str,'collections_12_mths_ex_med':float,'mths_since_last_major_derog':float,
              'policy_code':float,'not_compliant':float,'status':str,'inactive_loans':float,'bad_loans':int,'emp_length_num':float,
              'grade_num':float,'sub_grade_num':float,'delinq_2yrs_zero':float,'pub_rec_zero':float,'collections_12_mths_zero':float,
              'short_emp':float,'payment_inc_ratio':float,'final_d':str,'last_delinq_none':float,'last_record_none':float,'last_major_derog_none':float}
#str,float,int

In [3]:
loans = pd.read_csv("/Users/wxu/workspace/ML-UW-Coursera/classification/week5/lending-club-data.csv",header=0,dtype = dtype_dict)
loans["safe_loans"] = loans['bad_loans'].apply(lambda x: 1 if x==0 else -1)
loans.drop("bad_loans",1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,safe_loans
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,1,1,1,0,8.143500,20141201T000000,1,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,1,1,1,1,2.393200,20161201T000000,1,1,1,-1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1,1,1,0,8.259550,20141201T000000,1,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,1,1,1,0,8.275850,20141201T000000,0,1,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,1,1,1,0,5.215330,20141201T000000,1,1,1,1
5,1072053,1288686,3000,3000,3000,36 months,18.64,109.43,E,E1,...,1,1,1,0,2.735750,20141201T000000,1,1,1,1
6,1071795,1306957,5600,5600,5600,60 months,21.28,152.39,F,F2,...,1,1,1,0,4.571700,20161201T000000,1,1,1,-1
7,1071570,1306721,5375,5375,5350,60 months,12.69,121.45,B,B5,...,1,1,1,1,9.716000,20161201T000000,1,1,1,-1
8,1070078,1305201,6500,6500,6500,60 months,14.65,153.45,C,C3,...,1,1,1,0,2.557500,20161201T000000,1,1,1,1
9,1069908,1305008,12000,12000,12000,36 months,12.69,402.54,B,B5,...,1,1,1,0,6.440640,20141201T000000,1,1,1,1
10,1064687,1298717,9000,9000,9000,36 months,13.49,305.38,C,C1,...,1,1,1,1,12.215200,20141201T000000,1,1,1,-1
11,1069866,1304956,3000,3000,3000,36 months,9.91,96.68,B,B1,...,1,1,1,0,7.734400,20141201T000000,1,1,1,1
12,1069057,1303503,10000,10000,10000,36 months,10.65,325.74,B,B2,...,1,1,1,0,3.908880,20141201T000000,1,1,1,-1
13,1069759,1304871,1000,1000,1000,36 months,16.29,35.31,D,D1,...,1,1,1,1,1.513290,20141201T000000,1,1,1,1
14,1065775,1299699,10000,10000,10000,36 months,15.27,347.98,C,C4,...,1,1,1,0,9.942290,20141201T000000,0,1,1,1
15,1069971,1304884,3600,3600,3600,36 months,6.03,109.57,A,A1,...,1,1,1,0,1.195310,20141201T000000,1,1,1,1
16,1062474,1294539,6000,6000,6000,36 months,11.71,198.46,B,B3,...,0,1,1,0,2.835140,20141201T000000,0,1,1,1
17,1069742,1304855,9200,9200,9200,36 months,6.03,280.01,A,A1,...,1,1,1,0,4.342080,20141201T000000,1,1,1,1
18,1039153,1269083,21000,21000,21000,36 months,12.42,701.73,B,B4,...,1,1,1,0,8.019770,20141201T000000,1,1,1,-1
19,1069710,1304821,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1,1,1,0,7.938240,20141201T000000,1,1,1,1
20,1069700,1304810,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1,1,1,0,7.938240,20141201T000000,1,1,1,1
21,1069559,1304634,6000,6000,6000,36 months,11.71,198.46,B,B3,...,1,1,1,0,3.133580,20141201T000000,1,1,1,-1
22,1069697,1273773,15000,15000,15000,36 months,9.91,483.38,B,B1,...,1,1,1,0,6.304960,20141201T000000,1,1,1,1
23,1069800,1304679,15000,15000,8725,36 months,14.27,514.64,C,C2,...,1,1,1,0,10.292800,20141201T000000,1,1,1,-1
24,1069657,1304764,5000,5000,5000,60 months,16.77,123.65,D,D2,...,0,1,1,0,2.967360,20161201T000000,0,1,1,-1
25,1069799,1304678,4000,4000,4000,36 months,11.71,132.31,B,B3,...,0,1,1,0,1.497850,20141201T000000,0,1,1,1
26,1047704,1278806,8500,8500,8500,36 months,11.71,281.15,B,B3,...,1,1,1,1,13.495200,20141201T000000,1,1,1,1
27,1032111,1261745,4375,4375,4375,36 months,7.51,136.11,A,A3,...,1,1,1,0,9.547110,20141201T000000,1,1,1,1
28,1069539,1304608,31825,31825,31825,36 months,7.90,995.82,A,A4,...,1,1,1,0,15.933100,20141201T000000,1,1,1,1
29,1069591,1304289,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1,1,1,0,7.923970,20141201T000000,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,10086164,11938206,9000,9000,9000,36 months,7.90,281.62,A,A4,...,1,1,1,0,9.133620,20170101T000000,1,1,1,1
122578,10166062,12018153,15000,15000,15000,60 months,24.08,432.22,F,F2,...,1,1,1,0,7.409490,20190101T000000,1,1,1,1
122579,10106041,11958114,21000,21000,20800,36 months,10.99,687.42,B,B2,...,0,1,1,0,13.158000,20170101T000000,0,1,1,1
122580,10086141,1886905,7000,7000,6900,36 months,13.53,237.65,B,B5,...,1,1,1,0,6.632090,20170101T000000,1,1,1,-1
122581,10115896,11967980,8250,8250,8250,36 months,16.24,291.03,C,C5,...,1,1,1,1,10.582900,20170101T000000,1,1,1,1
122582,10075730,11927830,10000,10000,10000,60 months,18.25,255.30,D,D3,...,1,1,1,0,8.654240,20190101T000000,0,1,1,1
122583,10075541,11927650,9450,9450,9450,36 months,15.61,330.42,C,C4,...,1,1,1,1,14.685300,20170101T000000,0,1,1,-1
122584,10214568,12066719,12375,12375,12375,36 months,14.98,428.87,C,C3,...,0,1,1,0,17.154800,20170101T000000,0,1,1,1
122585,8944858,10736981,27575,27575,27575,60 months,19.97,730.11,D,D5,...,1,1,1,0,11.681800,20190101T000000,0,1,1,1
122586,10175470,12027558,18000,18000,18000,60 months,21.48,491.84,E,E2,...,0,1,1,0,10.692200,20190101T000000,0,1,1,1
122587,9654640,11506781,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1,1,1,0,6.341240,20190101T000000,1,1,1,-1
122588,10075202,11927320,14000,14000,14000,36 months,8.90,444.55,A,A5,...,1,1,1,0,3.556400,20170101T000000,1,1,1,1
122589,10105178,11957289,24000,24000,23800,60 months,13.98,558.19,C,C1,...,1,1,1,0,7.442530,20190101T000000,0,1,1,1
122590,10105115,9348848,10000,10000,10000,36 months,13.53,339.50,B,B5,...,1,1,1,1,11.010800,20170101T000000,1,1,1,-1
122591,9924735,11776875,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1,1,1,0,6.658300,20190101T000000,1,1,1,1
122592,10104967,11957097,10000,10000,9925,36 months,11.99,332.10,B,B3,...,0,0,1,0,4.981500,20170101T000000,0,0,0,1
122593,10064734,11916874,17000,17000,17000,60 months,22.40,473.40,E,E3,...,1,1,1,0,8.115430,20190101T000000,0,1,0,1
122594,9808485,11660306,8000,8000,8000,36 months,14.98,277.25,C,C3,...,1,0,1,1,8.154410,20170101T000000,1,0,1,-1
122595,9001565,10792984,24000,24000,24000,60 months,14.47,564.31,C,C2,...,1,1,1,0,3.385860,20190101T000000,1,1,1,1
122596,9934676,11786815,35000,35000,35000,36 months,16.99,1247.68,D,D1,...,0,0,1,0,17.824000,20170101T000000,0,0,1,-1
122597,9828271,11680132,35000,35000,35000,60 months,23.40,994.73,E,E5,...,0,1,1,0,11.702700,20190101T000000,0,1,1,1
122598,9858164,11710004,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1,1,1,0,1.465570,20170101T000000,1,1,1,1
122599,9767996,11619870,24000,24000,23925,60 months,25.83,716.16,G,G2,...,0,1,1,0,14.323200,20190101T000000,0,1,0,1
122600,7450630,1552101,6000,6000,6000,36 months,18.25,217.67,D,D3,...,1,1,1,1,2.720870,20170101T000000,0,1,1,1
122601,9825536,11677574,6000,6000,6000,36 months,13.53,203.70,B,B5,...,0,1,1,0,5.432000,20170101T000000,0,1,1,-1
122602,9856168,11708132,6000,6000,6000,60 months,23.40,170.53,E,E5,...,0,1,1,1,4.487630,20190101T000000,0,1,0,-1
122603,9795013,11647121,15250,15250,15250,36 months,17.57,548.05,D,D2,...,0,0,1,0,10.117800,20170101T000000,0,0,0,1
122604,9695736,11547808,8525,8525,8525,60 months,18.25,217.65,D,D3,...,0,1,1,0,6.958120,20190101T000000,0,1,0,-1
122605,9684700,11536848,22000,22000,22000,60 months,19.97,582.50,D,D5,...,1,0,1,0,8.961540,20190101T000000,1,0,1,-1
122606,9604874,11457002,2000,2000,2000,36 months,7.90,62.59,A,A4,...,0,1,1,0,0.904916,20170101T000000,0,1,1,1

In [4]:
features = ['grade',              # grade of the loan
            'term',               # the term of the loan
            'home_ownership',     # home ownership status: own, mortgage or rent
            'emp_length',         # number of years of employment
           ]
target = "safe_loans"

In [8]:
loans = loans[features + [target]]
loansWithDummy = pd.get_dummies(loans)

In [9]:
with open("/Users/wxu/workspace/ML-UW-Coursera/classification/week5/train2.json") as myjson:
    for line in myjson:
        trainIdx = json.loads(line)
with open("/Users/wxu/workspace/ML-UW-Coursera/classification/week5/test.json") as myjson:
    for line in myjson:
        testIdx = json.loads(line)
train = loansWithDummy.iloc[trainIdx]
test = loansWithDummy.iloc[testIdx]

In [16]:
def weighted_error(predList,target,alphaList):
    sumAlpha=sum(alphaList)
    booleanToInt = (predList==target)*1
    weightedErrorSum = no.dot*(alphaList,booleanToInt)
    return weightedErrorSum/sumAplha

In [17]:
def intermediate_node_weighted_mistakes(labels_in_node, data_weights):
    # Sum the weights of all entries with label +1
    total_weight_positive = sum(data_weights[labels_in_node == +1])
    
    # Weight of mistakes for predicting all -1's is equal to the sum above
    ### YOUR CODE HERE
    weighted_mistakes_all_negative = total_weight_positive
    
    # Sum the weights of all entries with label -1
    ### YOUR CODE HERE
    total_weight_negative = sum(data_weights[labels_in_node == -1])
    
    # Weight of mistakes for predicting all +1's is equal to the sum above
    ### YOUR CODE HERE
    weighted_mistakes_all_positive = total_weight_negative
    
    # Return the tuple (weight, class_label) representing the lower of the two weights
    #    class_label should be an integer of value +1 or -1.
    # If the two weights are identical, return (weighted_mistakes_all_positive,+1)
    ### YOUR CODE HERE
    if  (weighted_mistakes_all_negative>=weighted_mistakes_all_positive):return (weighted_mistakes_all_positive,1)
    else:return(weighted_mistakes_all_negative,-1)

In [35]:
def best_splitting_feature(data, features, target, data_weights):
    
    # These variables will keep track of the best feature and the corresponding error
    best_feature = None
    best_error = float('+inf') 
    num_points = float(len(data))

    # Loop through each feature to consider splitting on that feature
    for feature in features:
        
        # The left split will have all data points where the feature value is 0
        # The right split will have all data points where the feature value is 1
        left_split = data[data[feature] == 0]
        right_split = data[data[feature] == 1]
        
        # Apply the same filtering to data_weights to create left_data_weights, right_data_weights
        ## YOUR CODE HERE
        left_data_weights = data_weights[data[feature] == 0]
        right_data_weights = data_weights[data[feature] == 1]
                    
        # DIFFERENT HERE
        # Calculate the weight of mistakes for left and right sides
        ## YOUR CODE HERE
        left_weighted_mistakes, left_class = intermediate_node_weighted_mistakes(left_split[target], left_data_weights)
        right_weighted_mistakes, right_class = intermediate_node_weighted_mistakes(right_split[target], right_data_weights)
        
        # DIFFERENT HERE
        # Compute weighted error by computing
        #  ( [weight of mistakes (left)] + [weight of mistakes (right)] ) / [total weight of all data points]
        ## YOUR CODE HERE
        error = (left_weighted_mistakes+right_weighted_mistakes)/sum(data_weights)
        
        # If this is the best error we have found so far, store the feature and the error
        if error < best_error:
            best_feature = feature
            best_error = error
    
    # Return the best feature we found
    return best_feature

In [19]:
def create_leaf(target_values, data_weights):
    
    # Create a leaf node
    leaf = {'splitting_feature' : None,
            'is_leaf': True}
    
    # Computed weight of mistakes.
    # Store the predicted class (1 or -1) in leaf['prediction']
    weighted_error, best_class = intermediate_node_weighted_mistakes(target_values, data_weights)
    leaf['prediction'] = best_class
    
    return leaf

In [26]:
def weighted_decision_tree_create(data, features, target, data_weights, current_depth = 1, max_depth = 10):
    remaining_features = features[:] # Make a copy of the features.
    target_values = data[target]
    print "--------------------------------------------------------------------"
    print "Subtree, depth = %s (%s data points)." % (current_depth, len(target_values))
    
    # Stopping condition 1. Error is 0.
    if intermediate_node_weighted_mistakes(target_values, data_weights)[0] <= 1e-15:
        print "Stopping condition 1 reached."                
        return create_leaf(target_values, data_weights)
    
    # Stopping condition 2. No more features.
    if remaining_features == []:
        print "Stopping condition 2 reached."                
        return create_leaf(target_values, data_weights)    
    
    # Additional stopping condition (limit tree depth)
    if current_depth > max_depth:
        print "Reached maximum depth. Stopping for now."
        return create_leaf(target_values, data_weights)
    
    # If all the datapoints are the same, splitting_feature will be None. Create a leaf
    splitting_feature = best_splitting_feature(data, features, target, data_weights)
    remaining_features.remove(splitting_feature)
        
    left_split = data[data[splitting_feature] == 0]
    right_split = data[data[splitting_feature] == 1]
    
    left_data_weights = data_weights[data[splitting_feature] == 0]
    right_data_weights = data_weights[data[splitting_feature] == 1]
    
    print "Split on feature %s. (%s, %s)" % (\
              splitting_feature, len(left_split), len(right_split))
    
    # Create a leaf node if the split is "perfect"
    if len(left_split) == len(data):
        print "Creating leaf node."
        return create_leaf(left_split[target], data_weights)
    if len(right_split) == len(data):
        print "Creating leaf node."
        return create_leaf(right_split[target], data_weights)
    
    # Repeat (recurse) on left and right subtrees
    left_tree = weighted_decision_tree_create(
        left_split, remaining_features, target, left_data_weights, current_depth + 1, max_depth)
    right_tree = weighted_decision_tree_create(
right_split, remaining_features, target, right_data_weights, current_depth + 1, max_depth)
    return {'is_leaf'          : False, 
            'prediction'       : None,
            'splitting_feature': splitting_feature,
            'left'             : left_tree, 
            'right'            : right_tree}

In [21]:
def count_nodes(tree):
    if tree['is_lef']:
        return 1
    return 1 + count_nodes(tree['left']) + count_nodes(tree['right'])

In [22]:
def classify(tree, x, annotate = False):   
    # If the node is a leaf node.
    if tree['is_leaf']:
        if annotate: 
            print "At leaf, predicting %s" % tree['prediction']
        return tree['prediction'] 
    else:
        # Split on feature.
        split_feature_value = x[tree['splitting_feature']]
        if annotate: 
            print "Split on %s = %s" % (tree['splitting_feature'], split_feature_value)
        if split_feature_value == 0:
            return classify(tree['left'], x, annotate)
        else:
            return classify(tree['right'], x, annotate)

In [38]:
def evaluate_classification_error(tree, data):
    # Apply the classify(tree, x) to each row in your data
    prediction = data.apply(lambda x: classify(tree, x),axis=1)
    
    # Once you've made the predictions, calculate the classification error
    return (prediction != data[target]).sum() / float(len(data))

In [33]:
dummyFeatures = list(train.columns)
dummyFeatures.remove(target)
dummyFeatures

['grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'term_ 36 months',
 'term_ 60 months',
 'home_ownership_MORTGAGE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'emp_length_1 year',
 'emp_length_10+ years',
 'emp_length_2 years',
 'emp_length_3 years',
 'emp_length_4 years',
 'emp_length_5 years',
 'emp_length_6 years',
 'emp_length_7 years',
 'emp_length_8 years',
 'emp_length_9 years',
 'emp_length_< 1 year',
 'emp_length_n/a']

In [36]:
# Assign weights
example_data_weights = np.array([1.] * 10 + [0.]*(len(train) - 20) + [1.] * 10)
# Train a weighted decision tree model.
small_data_decision_tree_subset_20 = weighted_decision_tree_create(train, dummyFeatures, target,
                         example_data_weights, max_depth=2)

--------------------------------------------------------------------
Subtree, depth = 1 (37224 data points).

/Users/wxu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
  app.launch_new_instance()
/Users/wxu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:11: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
/Users/wxu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:18: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
/Users/wxu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:19: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
/Users/wxu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:29: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
/Users/wxu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:30: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index

Split on feature grade_A. (32094, 5130)
--------------------------------------------------------------------
Subtree, depth = 2 (32094 data points).
Split on feature grade_B. (21728, 10366)
--------------------------------------------------------------------
Subtree, depth = 3 (21728 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 3 (10366 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 2 (5130 data points).
Split on feature grade_B. (5130, 0)
Creating leaf node.

In [39]:
evaluate_classification_error(small_data_decision_tree_subset_20, train)

0.4963464431549538